@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');


.menu {
    min-height: 80px;
    background-color: rgb(0, 0, 0);
}

.menu div {
    font-family: 'monteserrat', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 14px;
}

.btn:hover {
    color: rgb(33, 226, 107);
}

.risk {
    margin: 9px 20px;
    width: 1px;
    height: 18px;
    border-left: 1px solid white;
}

.hero{
    min-height: 380px;
}

.hero div{
    color: white;
    font-family: 'montserrat' , sans-serif;
}

.botao-1 { 
    font-size: 18px; 
    text-align: center; 
    border: 1px solid rgb(43, 189, 14); 
    border-radius: 10px; 
    background-color: rgb(43, 189, 14); 
    margin: 10px 5px 0 20px;
}


.premium {
    min-height: 550px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.premium div {
    margin-bottom: 20px;
}

.plan {
    min-height: 1000px;
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}

.plan div{
    border: 2px solid green;
}

.rodape {
    min-height: 500px;
    background-color: rgba(0, 0, 0);
}